body {
}
.navbar {
    background-color: #4099FF;
}
.navbar-default
.navbar-brand
{
    color:white;
    margin-left:0px;
}
.navbar-default 
.navbar-brand:hover, 
.navbar-default 
.navbar-brand:focus {
    color:white;
     
}
.navbar-default 
.navbar-nav > li 
{
    float:right;
    margin-right:0px;
}
@media (max-width: 414px)
{
    .navbar-right {
        margin-left:20px;
    }
}

.navbar-default 
.navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #5e5e5e;
}

.Password{
    width:12.8%;
}
.ConfirmPassword{
    width:18%;
}
.UserName{
    width:19.5%;
}
.form-control {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#ButtonDiv
{
    width:100px;
}