body {
}

h2
{
    text-align:center;
}
.form-horizontal {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.myBtn {
    width: 100%;
    margin-top: 12px;
}

.ValSpan {
    display: table;
    margin: 0 auto;
}

.ValSum {
    color: #ff3333;
    text-align: center;
}

.ValSum ul {
        list-style-type: none;

}
