body {
}
#PostDate {
    float: right;
}

.glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}

.panel {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.MainPost {
    background-color: #FFD700;
}
form {
    display: inline;
}
#ResponseToPost {
    display: inline;
    width: 40%;
}

.btn-primary {
    background-color: white;
    color: gray;
    padding: 5px 20px;
}

.CwirnijBtn {
    text-align: right;
}
.Response-panel
{
    width:55%;
}
#ValSum ul {
    color: #ff3333;
    list-style-type:none;
}

