body {
}
#PostDiv {
    background-color: #4099FF;
    padding: 20px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
#PostForm {

}
.btn-primary {
    background-color: white;
    color:gray;
    padding:5px 20px;
}
.CwirnijBtn
{
    text-align:right;
}

