@model RegisterViewModel
@{ 
    ViewBag.Title = "Rejestracja";
}
@section Styles
{
    <link href="~/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Styles/Account-Register.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>   
}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class=" col-xs-10 navbar-header">
          <a class="navbar-brand"><i class="fa fa-twitter" aria-hidden="true"></i>Zarejestruj się</a>
      </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
      <ul  class="col-xs-2 nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Login">Zaloguj się</a></li>
          </ul>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<form class="form-horizontal" method="post" asp-antiforgery="true">
    <div class="form-group" >
        <label asp-for="UserName" class="control-label UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span class="ValSpan" asp-validation-for="UserName"></span>

    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label Password"></label>
        <input asp-for="Password" class="form-control" />
        <span class="ValSpan" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"class="control-label ConfirmPassword" ></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span class="ValSpan" asp-validation-for="ConfirmPassword"></span>
    </div>
    <div >
        <input class="myBtn btn btn-primary" type="submit" value="Zarejestruj się" />
    </div>
    <div class="ValSum" asp-validation-summary="ModelOnly">

    </div>

</form>