@{ 
    ViewBag.Title = "Witaj";
}
<h1>Witaj na Cwir Cwir</h1>
<div>
    <a asp-controller="Account" asp-action="Login">Zaloguj się</a>
     <!--<form asp-controller="Account" asp-action="Login" method="post">
        <input type="submit" value="Zaloguj się" />
     </form>-->
</div>
<div>
    <a asp-controller="Account" asp-action="Register">Zarejestruj się</a>
    <!--<form asp-controller="Account" asp-action="Register" method="post">
        <input type="submit" value="Zarejestruj się" />
    </form>-->
</div>