@model WallViewModel
@{
    ViewBag.Title = "Cwir Cwir";
}
<h2>Strona Głowna</h2>
<div>
    @await Component.InvokeAsync("LoginLogout");
</div>
<div>
    <form method="post" asp-antiforgery="true" >
        <div>
        <label asp-for="Content"></label>
        <input asp-for="Content" />
        <span asp-validation-for="Content"></span>
            </div>
        <div>
            <input type="submit" value="Cwir Cwir" />
        </div>  
   </form>  
</div>
<!--<div>
   //Html.Partial("_Posts");
</div>-->
