@{ 
    ViewBag.Title = "Nowa wiadomość";
}
@section Styles{ 
<link href="~/Styles/Message-FindUser.css" rel="stylesheet" />
}
<form method="post" asp-action="Write" asp-controller="Message" asp-route-Sender="@User.Identity.Name">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Szukaj użytkownika" name="Receiver">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Dalej</button>
        </span>
    </div>
</form>
