@{ 
    ViewBag.Title = "Nowa wiadomość";
}
@section Styles{ 
<link href="~/Styles/Message-NewMessage.css" rel="stylesheet" />
}
        <div class="input-group">
           
            <input type="text" class="form-control" placeholder="Szukaj użytkownika">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Dalej</button>
            </span>
        </div><!-- /input-group -->

