<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />   
    <title>@ViewBag.Title</title>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <!--<div>
        //await Component.InvokeAsync("LoginLogout")
    </div>-->
    <div>
        @RenderBody()
    </div>
</body>
</html>
